html {
  background-color: red;
  height: 100%;
}

body {
  background-color: gray;
  height: 100%;
}

input {
  width: 30%;
}

textarea {
  width: 30%;
  margin-top: 2em;
  margin-bottom: 2em;  
}

#app {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.appContainer {
  background-color: lightyellow;
  height:100%;
  width: 80%;
  margin-top: 5%;
  margin-bottom: 5%;    
}

.footerContainer {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  margin-top: 1em;
}

.headerContainer {
  background-color: #FDD023;
  width: 100%;
  margin-bottom: 5%;
  height:5%;
}

.submitContainer {
  margin-top: 10%;
}

.post {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid black;  
  margin-left: 10%;
  margin-right: 10%;
}

.content {

}

.button {
  margin-left: 1em;
  margin-right: 2em;
}

